.header {
    display: flex;
    justify-content: center;
    position: relative;
}

.logo {
    width: 300px;
    padding: 20px 0;
}

.mobileMenuPicture {
    display: none;
}
.bugerMenu {
    padding-left: 20px;
    display: none;
}
.item:hover .bugerMenu{
    display: block;
}

.mobileMenu {
    display: none;
    background-color: black;
    opacity: 0.9;
    position: absolute;
    width: 100%;
}
.bugerMenuSecondary {
    font-size: 20px;
    color: white;
    position: relative;
    border: 1px solid black;
}

.bugerMenuSecondary:hover .bugerMenuSecondaryItems {
    display: block;
}
.bugerMenuSecondaryItems {
    display: none;
    position: relative;
    padding-left: 20px;

}
.closeBtn {
    display: none;
}

@media (max-width: 768px) {
    .logo {
        width: 200px;
    }

    .mobileMenuPicture {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .mobileMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .closeBtn {
        background-color: white;
    }
}